<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<% if (errors) { %>
    <div class="notice">
   <% errors.array().forEach(error => { %>
     <p><%= error.msg %></p>
  <%  }) %>
   </div>
<% } %>
<% if (messages && messages.length > 0) { %>
    <div class="notice">
      <% messages.forEach(message => { %>
        <p><%= message %></p>
      <% }) %>
    </div>
  <% } %>

<h2>Welcome <%= locals.account_firstname %></h2>

<a href="/account/update">Edit Account Information</a>
<br>
<a href="/inv/favorites">Vehicle Favorites</a>

<% if (account_type == "Admin" || account_type == "Employee") { %>
  <h2>Inventory Management</h2>
  <a class="decor-hide" title="Click to log out" href="/inv/">Manage Inventory</a>
<% } else { %>
<% } %>