<nav id="top-nav">
    <a class="decor-hide" href="/" title="Home Page">Home</a>
    <a class="decor-hide" href="/" title="Custom Page">Custom</a>
    <a class="decor-hide" href="/" title="Sedan Page">Sedan</a>
    <a class="decor-hide" href="/" title="SUV Page">SUV</a>
    <a class="decor-hide" href="/" title="Truck Page">Truck</a>
</nav>